In [4]:
import pandas as pd
import numpy as np
from pandas_profiling import ProfileReport

In [5]:
df = pd.read_csv('adult.data.csv')

In [7]:
df.keys()

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [8]:
df.head(20)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K

In [9]:
df.tail()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [11]:
df.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [13]:
df.describe(include=['O'])

,workclass,education,marital-status,occupation,relationship,race,sex,native-country,salary
count,32561,32561,32561,32561,32561,32561,32561,32561,32561
unique,9,16,7,15,6,5,2,42,2
top,Private,HS-grad,Married-civ-spouse,Prof-specialty,Husband,White,Male,United-States,<=50K
freq,22696,10501,14976,4140,13193,27816,21790,29170,24720

In [14]:
prof = ProfileReport(df)
prof.to_file('adult.data.html')

 ### How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.

In [20]:
race_type = df.race.unique()
race_type

array(['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo',
       'Other'], dtype=object)

In [19]:
race_count = df.race.value_counts()
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

 ### What is the average age of men?

In [33]:
male_data= df['sex']=='Male'
df_male=df[male_data]
average_age_men=df_male.age.mean()
average_age_men

39.43354749885268

 ### What is the percentage of people who have a Bachelor's degree?

In [64]:
percentage_education=df['education'].value_counts(normalize=True)
percentage_bachelors=percentage_education['Bachelors']*100
#percentage_bachelors = round(df[df['education'] == 'Bachelors'].shape[0] / df.shape[0] * 100, 1)
percentage_bachelors

16.44605509658794

 ### What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?

In [65]:
higher_education = df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])
rich_people = df['salary'] == '>50K'

In [66]:
higher_education_rich = round((higher_education & rich_people).sum() / higher_education.sum() * 100, 1)
higher_education_rich

46.5

In [67]:
lower_education_rich = round((~higher_education & rich_people).sum() / (~higher_education).sum() * 100, 1)
lower_education_rich

17.4

In [73]:
people_50k=df['salary']=='>50K'
df_people_50k=df[people_50k]
percentage_education_50k=df_people_50k['education'].value_counts(normalize=True)
higher_education_rich_2=(percentage_education_50k['Bachelors']+percentage_education_50k['Masters']+percentage_education_50k['Doctorate'])*100
higher_education_rich_2

44.45861497258003

### What percentage of people without advanced education make more than 50K?

In [76]:
percentage_education_50k
lower_education_rich_2=100-higher_education_rich_2
lower_education_rich_2

55.54138502741997

### What is the minimum number of hours a person works per week (hours-per-week feature)?

In [77]:
min_work_hours = df['hours-per-week'].min()
min_work_hours

1

### What percentage of the people who work the minimum number of hours per week have a salary of >50K?

In [86]:
people_50k=df['salary']=='>50K'
df_people_50k=df[people_50k]
people_50k_1h=df_people_50k['hours-per-week']==1
df_people_50k_1h=df_people_50k[people_50k_1h]
df_people_50k_1h

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
189,58,State-gov,109567,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,1,United-States,>50K
20072,65,?,76043,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,1,United-States,>50K

In [97]:
num_min_workers = df_people_50k_1h['salary'].count()
num_min_workers

2

In [96]:
rich_percentage = df_people_50k_1h['salary'].count()*100/df['salary'].count()
rich_percentage

0.0061423174963913885

 ### What country has the highest percentage of people that earn >50K?

In [114]:
country_rich_percentage = (df[df["salary"] == ">50K"]["native-country"].value_counts() / df["native-country"].value_counts())*100
highest_earning_country = country_rich_percentage.sort_values(ascending=False).index[0]
highest_earning_country

'Iran'

In [119]:
highest_earning_country_percentage = country_rich_percentage.sort_values(ascending=False).iloc[0]
highest_earning_country

41.86046511627907

### Identify the most popular occupation for those who earn >50K in India.

In [126]:
df_indians = df[df["native-country"] == "India"]
df_rich_indians = df_indians[df_indians["salary"] == ">50K"]
top_IN_occupation = df_rich_indians['occupation'].value_counts().idxmax()
top_IN_occupation

,age,workclass,fnlwgt,education,education-num,marital-status,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
occupation,,,,,,,,,,,,,,
Adm-clerical,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Exec-managerial,8,2,8,4,4,2,2,2,1,3,2,3,1,1
Other-service,2,1,2,2,2,2,2,1,2,2,1,2,1,1
Prof-specialty,19,5,24,4,4,3,2,3,1,6,4,10,1,1
Sales,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Tech-support,2,1,2,2,2,2,2,1,1,1,2,1,1,1
Transport-moving,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [ ]:
# Identify the most popular occupation for those who earn >50K in India.
top_IN_occupation = None

    # DO NOT MODIFY BELOW THIS LINE

    if print_data:
        print("Number of each race:\n", race_count) 
        print("Average age of men:", average_age_men)
        print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
        print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
        print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
        print(f"Min work time: {min_work_hours} hours/week")
        print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
        print("Country with highest percentage of rich:", highest_earning_country)
        print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
        print("Top occupations in India:", top_IN_occupation)